<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<container>
    <h2>Shopping cart</h2>
    <table border="1">
        <tr>
            <td>STT</td>
            <td>Product</td>
            <td>Action</td>
        </tr>
        <th:block th:each="p,n :${products}">
            <tr>
                <td th:text="${n.count}"></td>
                <td th:text="${p.name}"></td>
                <td><a href="" th:href="@{/product/product-view/__${p.id}__}">View </a></td>
            </tr>
        </th:block>
    </table>
    <button><a th:href="@{/product/product-create}">Create Product </a></button>
    <button><a th:href="@{/product/cart}"> Go to Cart</a></button>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</container>

</body>
</html>