<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:insert="~{fragment/header::header}"></div>
    <form th:action="@{/services/create}" th:object="${service}" method="post">

        <div class="form-group ">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="inputEmail4" th:field="*{name}">
            <p th:if="${#fields.hasErrors()}" th:errors="*{name}" class="text-danger"></p>
        </div>
        <div class="form-group ">
            <label for="birthday">Area</label>
            <input type="number" class="form-control" id="birthday" th:field="*{area}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{area}"></p>

        </div>
        <div class="form-group">
            <label for="inputAddress1">Cost</label>
            <input type="number" class="form-control" id="inputAddress1"  th:field="*{cost}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{cost}"></p>
        </div>
        <div class="form-group">
            <label for="inputAddress">Max People</label>
            <input type="number" class="form-control" id="inputAddress"  th:field="*{maxPeople}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{maxPeople}"></p>
        </div>
        <div class="form-group">
            <label for="inputAddress2">standard room </label>
            <input type="text" class="form-control" id="inputAddress2" th:field="*{standardRoom}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{standardRoom}"></p>
        </div>
        <div class="form-group ">
            <label for="inputCity">Description</label>
            <input type="text" class="form-control" id="inputCity" th:field="*{description}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{description}"></p>
        </div>
        <div class="form-group ">
            <label for="address">Pool area</label>
            <input type="text" class="form-control" id="address" th:field="*{poolArea}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{poolArea}"></p>
        </div>
        <div class="form-group ">
            <label for="address1">Number of floor</label>
            <input type="text" class="form-control" id="address1" th:field="*{numberOfFloor}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{numberOfFloor}"></p>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="servicetype">Service type </label>
                <select id="servicetype" th:field="${service.serviceType.id}">
                    <th:block th:each="st:${serviceTypes}">
                        <option th:value="${st.id}" th:text="${st.name}"> </option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="typerent11">Type rent</label>
                <select id="typerent11" th:field="${service.rentType.id}">
                    <th:block th:each="rt:${rentTypes}">
                        <option th:value="${rt.id}" th:text="${rt.name}"> </option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
        <a th:href="@{/services}" class="btn btn-primary">Cancel</a>
    </form>
    <div class="text-center" th:insert="~{fragment/footer::footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>