<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<form action="/product-create" method="post" th:object="${product}" class="form-select-button">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" ></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>

    </table>
    <input type="submit" value="create">
     <button><a href="/">Cancel</a></button>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>