<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:insert="~{fragment/header::header}"></div>
    <form th:action="@{/employees/edit}" th:object="${employee}" method="post">

        <input type="hidden" th:field="*{id}">
        <div class="form-group ">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="inputEmail4" th:field="*{name}">
            <p th:if="${#fields.hasErrors()}" th:errors="*{name}" class="text-danger"></p>
        </div>
        <div class="form-group ">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" th:field="*{birthday}">
            <p th:if="${#fields.hasErrors()}" th:errors="*{birthday}" class="text-danger"></p>
        </div>

        <div class="form-group">
            <label for="inputAddress">Id Card</label>
            <input type="number" class="form-control" id="inputAddress" placeholder="Id Card" th:field="*{idCard}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{idCard}"></p>
        </div>
        <div class="form-group">
            <label for="salary">Salary </label>
            <input type="number" class="form-control" id="salary" th:field="*{salary}">
            <p th:if="${#fields.hasErrors()}" th:errors="*{salary}" class="text-danger"></p>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Phone Number </label>
            <input type="number" class="form-control" id="inputAddress2" placeholder="Phone number" th:field="*{phone}">
            <p th:if="${#fields.hasErrors()}" class="text-danger" th:errors="*{phone}"></p>
        </div>
        <div class="form-group ">
            <label for="inputCity">Email</label>
            <input type="text" class="form-control" id="inputCity" th:field="*{email}">
            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{email}"></p>
        </div>
        <div class="form-group ">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{address}">
            <p th:if="${#fields.hasErrors()}" th:errors="*{address}" class="text-danger"></p>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="position">Position</label>
                <select id="position" th:field="${employee.position}">
                    <th:block th:each="p:${positions}">
                        <option th:value="${p.id}" th:text="${p.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="division">Division</label>
                <select id="division" th:field="${employee.division}">
                    <th:block th:each="d:${divisions}">
                        <option th:value="${d.id}" th:text="${d.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="educationDegree">Education Degree</label>
                <select id="educationDegree" th:field="${employee.educationDegree}">
                    <th:block th:each="e:${educationDegrees}">
                        <option th:value="${e.id}" th:text="${e.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <input type="submit" value="Edit" class="btn btn-primary">
        <a th:href="@{/employees}" class="btn btn-primary">Cancel</a>
    </form>
    <div class="text-center" th:insert="~{fragment/footer::footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>