<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div th:insert="~{fragment/header::header}"></div>
    <form th:action="@{/contracts/create}" th:object="${contract}" method="post">

        <div class="form-group ">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{startDate}"></p>
        </div>
        <div class="form-group ">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{endDate}"></p>
        </div>
        <div class="form-group">
            <label for="deposit">Deposit</label>
            <input type="number" class="form-control" id="deposit" th:field="*{deposit}">
            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{deposit}"></p>
        </div>
        <div class="form-group">
            <label for="totalMoney">Total Money</label>
            <input type="number" class="form-control" id="totalMoney" th:field="*{totalMoney}">
            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{totalMoney}"></p>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="employee">Employee </label>
                <select id="employee" th:field="*{employee}">
                    <th:block th:each="e:${employees}">
                        <option th:value="${e.id}" th:text="${e.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="customer">Customer </label>
                <select id="customer" th:field="*{customer}">
                    <th:block th:each="c:${customers}">
                        <option th:value="${c.id}" th:text="${c.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <label for="service">Service </label>
                <select id="service" th:field="*{service}">
                    <th:block th:each="s:${services}">
                        <option th:value="${s.id}" th:text="${s.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
        <a th:href="@{/contracts}" class="btn btn-primary">Cancel</a>
    </form>
    <div class="text-center" th:insert="~{fragment/footer::footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>