<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<p th:text="${message}"></p>
<h2>Create Customer</h2>
<form action="$" th:action="@{/create-customer}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Province :</td>
            <td>
                <select th:field="*{province}" >
                    <option value="" th:each=" p:${province} " th:value="${p.id}" th:text="${p.name}"></option>
                </select>

            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
            <td><button> <a href="#" th:href="@{/}">Back to list</a> </button></td>
        </tr>
    </table>

</form>
</body>
</html>