<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:insert="~{fragment/header::header}"></div>
    <h2 class="text-center">Customer List</h2>

    <table class="table table-hover">
        <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">ID Card</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Type Customer</th>


        </tr>
        </thead>
            <tbody>
            <tr  th:object="${customer}">
                <td th:text="*{name}"></td>
                <td th:text="*{birthday}"></td>
                <td th:if="*{gender}" th:text="Male"></td>
                <td th:if="*{gender==false}" th:text="Female"></td>
                <td th:text="*{idCard}"></td>
                <td th:text="*{phone}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{address}"></td>
                <td th:text="*{customerType.name}"></td>

            </tr>
            </tbody>
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"> <a th:href="@{/customers}" class="btn btn-primary">Back to Customer List  </a></div>
    </div>
    <div class="text-center" th:insert="~{fragment/footer::footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>