<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<form action="$" th:action="@{/product-edit}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{productDetail.id}">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Detail</td>
            <td><input type="text" th:field="*{productDetail.detail}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select name="" id="" th:field="${product.category.id}">
                    <option  th:each="c : ${categories}" th:text="${c.name}" th:value="${c.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"></td>
            <td>
                <button><a href="$" th:href="@{/product-list}">Cancel </a></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>