<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<h2>Login</h2>
<p th:text="${message}"></p>

<form action="/login" th:object="${user}" method="post" class="form-select-button">
    <table class="tab-container" >
        <tr>
            <td>User Name</td>
            <td>
                <input type="text" th:field="${user.username}" >
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" th:field="*{password}">
            </td>
        </tr>
       <tr>
           <td>
               <input type="submit" value="Login"> 
           </td>
       </tr>
    </table>
    <button><a href="/logout">Logout</a></button>
    <button><a href="/">Back to login</a></button>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>